{{define "home"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dabogo</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <main>
        {{range .Links}}
            {{template "link" .}}
        {{end}}
        </main>
    </body>
</html>
{{end}}
